# Visual Studio user/cache files
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# MSBuild output/intermediate directories
Debug/
Release/
x64/
Win32/
ipch/
ds2_dll_.93acd277/

# C/C++ build artifacts
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.log

# Built binaries/import libraries
*.dll
*.exe
*.lib
*.exp

